<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<style>

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

</style>
<body>
<div class="container-fluid text-center">
    <div><h2>Manage Provider-Cultures</h2></div>
    <div class="m-2">
        <a class="h3" th:href="@{/providerCultures/new}">Add New Provider-Culture</a>
    </div>
    <div class="m-2">
        <a class="h3" th:href="@{http://localhost:8080/}">Back to Main Menu</a>
    </div>
    <div th:if="${message}" class="alert alert-success">
        [[${message}]]
    </div>
</div>
<div class="center">
    <table class="table table-bordered">
        <thead class="thead-light">
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Price</th>
            <th>Weight</th>
            <th>Culture ID</th>
            <th>Provider KOD</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="pc : ${providerCultures}">
            <tr>
                <td>[[${pc.id}]]</td>
                <td>[[${pc.date}]]</td>
                <td>[[${pc.price}]]</td>
                <td>[[${pc.weight}]]</td>
                <td>[[${pc.culture.id}]]</td>
                <td>[[${pc.provider.kod}]]</td>
                <td sec:authorize="hasAnyAuthority('ADMIN', 'EDITOR')">
                    <a class="h4 mr-3" th:href="@{'/providerCultures/edit/' +${pc.id}}">Edit</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a sec:authorize="hasAuthority('ADMIN')" class="h4" th:href="@{'/providerCultures/delete/' +${pc.id}}">Delete</a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>
</body>
</html>