<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
  <meta charset="UTF-8">
  <title>Welcome to My Application</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<style>
  h1 {
    color: #e52165;
  }
  #container {
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
    justify-content: space-around;
  }

  #text-container a {
    display: block;
  }

  .big {
    font-size: 22px;
    font-style: italic;
    color: #e52165;
  }

  .new {
    font-style: oblique;
    font-palette: light;
    font-size: 22px;
    color: mediumblue;
  }
</style>
<body>
<div class="container-fluid text-center">
  <div sec:authorize="isAuthenticated()" class="big">
    Welcome <b><span sec:authentication="name"></span></b>
    &nbsp;
    <b>Your Roles:</b>
    <span sec:authentication="principal.authorities">Roles</span>
    <form th:action="@{/logout}" method="post">
      <input type="submit" value="Logout"/>
    </form>
    <div><a sec:authorize="hasAuthority('ADMIN')" th:href="@{'/userActivity'}">Show Users Activity</a></div>
  </div>
</div>
<div id="container">
  <img src="https://img.freepik.com/premium-photo/three-wheat-spikelets-isolated-on-white-surface_252965-898.jpg" style="width:360px;height:600px;transform: scale(-1, 1);">
  <div id="text-container">
    <a class="new">Welcome to Farm Application!</a>
    <a class="new">Browse links:</a>
    <a class="h4" th:href="@{/crops}">Manage Crops</a>
    <a class="h4" th:href="@{/cropFertilizers}">Manage Crop-Fertilizers</a>
    <a class="h4" th:href="@{/cropWorks}">Manage Crop-Works</a>
    <a class="h4" th:href="@{/cultures}">Manage Cultures</a>
    <a class="h4" th:href="@{/fertilizers}">Manage Fertilizers</a>
    <a class="h4" th:href="@{/fertilizerTypes}">Manage Fertilizers Types</a>
    <a class="h4" th:href="@{/harvests}">Manage Harvests</a>
    <a class="h4" th:href="@{/providers}">Manage Providers</a>
    <a class="h4" th:href="@{/providerCultures}">Manage Provider-Cultures</a>
    <a class="h4" th:href="@{/providerFertilizers}">Manage Provider-Fertilizers</a>
    <a class="h4" th:href="@{/sales}">Manage Sales</a>
    <a class="h4" th:href="@{/teches}">Manage Teches</a>
    <a class="h4" th:href="@{/techTypes}">Manage Tech Types</a>
    <a class="h4" th:href="@{/works}">Manage Works</a>
  </div>
  <img src="https://img.freepik.com/premium-photo/three-wheat-spikelets-isolated-on-white-surface_252965-898.jpg" style="width:360px;height:600px"/>
</div>
</body>
</html>